.brown {
    color: rgb(253, 201, 149);
}

.green {
    color: green;
}

.bisque {
    color: bisque;
}

.beige {
    color: beige;
}

.yellow {
    color: yellow;
}

.pink {
    color: pink;
}

.blue {
    color: blue;
}

.aqua {
    color: aqua;
}